body {
    background-color: grey;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200 px;
    min-height: 100vh;
    background-color: rgb(40, 165, 210);
    color:rgb(98, 36, 9);
    font-family: "Comic Sans Ms", sans-serif;
    
        
}

.item {
    border-top: 2px solid rgb(122, 118, 118);
    max-width: 900 px;
}



